* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    background-color: #ebe3cd;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
}

.nav {
    margin: 56px;
    padding: 15px;
    border-radius: 33px;
    background-color: #12202f;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    font-family: "Montserrat";
}

.disp-flex {
    display: flex;
    flex-wrap: wrap;
}

/* .menu{
    margin-left: auto;
    margin-right: auto;
} */
li a {
    color: #ffffff;
    padding: 10px;
}

.right li a {
    color: #6bb99c;
    padding: 10px;
}

.menu-items {
    padding-left: 35px;
    padding-right: 35px;
}

.banner_1 {
    max-width: 540px;
    margin-left: 56px;
    position: absolute;
}

.title {
    font-size: 81px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.subtitle {
    margin-top: 32px;
    font-size: 29px;
    line-height: 40px;
    color: #12202f;
    font-weight: 400;
    font-family: "Montserrat";
}

.info {
    margin-top: 19px;
    font-size: 17px;
    line-height: 31px;
    color: #12202f;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: left;
}

.explore {
    padding: 10px;
    width: 162px;
    height: 56px;
    border-radius: 28px;
    background-color: #df581e;
    font-size: 21px;
    line-height: 33px;
    color: #ebe3cd;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.see_menu {
    font-size: 21px;
    line-height: 33px;
    color: #12202f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.button {
    margin-top: 60px;
    justify-content: space-around;
    align-items: center;
    border: none;
}

.container {
    height: 107vh;
}

.pos-rel {
    position: relative;
}

.pos-abs {
    position: absolute;
}

.window1 {
    right: 10%;
    top: 20%;
}

.window2 {
    top: 20%;
    left: 45%;
}

.illustration {
    bottom: 0;
    right: 2%;
}

.plant {
    bottom: 8px;
    left: 30%;
}

.lamp {
    top: -65px;
    right: 15%;
}

.book {
    margin-left: 56px;
    align-items: center;
    font-size: 21px;
    line-height: 33px;
    color: #12202f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
}

.arrow {
    padding-left: 20px;
}

.booking {
    margin-top: 20px;
    padding: 15px;
    align-items: end;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 1328px;
    /* height: 210px; */
    border-radius: 40px;
    filter: drop-shadow(-5.557px 5.755px 0px rgba(150, 137, 104, 0.09));
    background-color: #faf8ef;
    border: 1px solid #ffffff;
}

.label,
.field input {
    padding: 5px;
    font-size: 21px;
    line-height: 33px;
    color: #12202f;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: left;
}




input[type="date"],
input[type="time"] {
    text-align: center;
    width: 216px;
    height: 70px;
    border-radius: 28px;
    background-color: #ebe3cd;
    border: 1px solid #12202f;
}

input[type="email"] {
    text-align: center;
    max-width: 331px;
    height: 70px;
    border-radius: 28px;
    background-color: #ebe3cd;
    border: 1px solid #12202f;
}

input[type="submit"] {
    margin-top: 10px;
    text-align: center;
    width: 250px;
    height: 70px;
    border-radius: 28px;
    background-color: #6bb99c;
    color: #ebe3cd;
    border: none;
}

.category {
    margin-top: 150px;
}
.cat_image{
    padding-top: 20px;
}

.cat_subtitle {
    text-align: center;
    font-size: 29px;
    line-height: 40px;
    color: #eaa73b;
    font-weight: 400;
    font-family: "Montserrat";
}

.cat_title {
    text-align: center;
    font-size: 50px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.categories {
    margin-top: 80px;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.col {
    margin: 10px;
    padding: 10px;
    width: 382px;
border-radius: 40px;
filter: drop-shadow(-5.557px 5.755px 0px rgba(150,137,104,0.09));
background-color: #faf8ef;
border: 1px solid #ffffff;

}

.cattitle {
    margin-top: 35px;
    font-size: 40px;
    color: #12202f;
    font-weight: 900;
    font-family: "Playfair Display";
}

.catsubtitle {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 17px;
    line-height: 31px;
    color: #12202f;
    font-weight: 600;
    font-family: "Montserrat";
    text-align: center;
    
}

.catbutton {
    
    padding: 10px;
    width: 194px;
    border-radius: 28px;
    background-color: #df581e;
    font-size: 21px;
    line-height: 33px;
    color: #ebe3cd;
    font-weight: 700;
    font-family: "Montserrat";
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
.top_cov{
    padding-left: 200px;
    padding-right: 200px;
    overflow: hidden;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cov_subtitle,.cov_title{
    text-align: center;
}
.cov_subtitle{
    font-size: 29px;
line-height: 40px;
color: #6bb99c;
font-weight: 400;
font-family: "Montserrat";
}

.cov_title{
    font-size: 50px;
color: #12202f;
font-weight: 900;
font-family: "Playfair Display";
}
.bg-col{
    background-color: #6bb99c;
    text-align: center;
}
.table1{
    top: 0;
    left: -130px;
}

.table2{
    top: 0;
    right: -130px;
}
.bot_cov{
    margin-bottom: 230px;
    justify-content: space-between;
}
.illustration{
    text-align: center;
}
.ill{
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
}




@media (max-width:1300px) {

    .lamp {
        width: 70px;
    }

    .plant {
        width: 100px;
    }

    .illustration {
        width: 700px;
    }

    .window1,
    .window2 {
        top: 35%;
        width: 125px;
    }

    .container {
        height: 90vh;
    }
}

@media (max-width:500px) {
    .title {
        font-size: 45px;
    }

    .lamp {
        width: 50px;
    }

    .plant {
        width: 80px;
    }

    .illustration {
        width: 500px;
    }

    .window1,
    .window2 {
        top: 65%;
        width: 90px;
    }

    .window2 {
        left: 35%;
    }

    .container {
        height: 80vh;
    }

    .banner_1 {
        margin: 0 auto;
        padding: 10px;
    }

}

@media (max-width:768px) {
    .title {
        font-size: 60px;
    }

    .banner_1 {
        margin: 0 auto;
        padding: 10px;
    }
}